@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $text-primary;
  background-color: $background-light;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-semibold;
  line-height: 1.25;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-4xl;
  @include mobile {
    font-size: $font-size-3xl;
  }
}

h2 {
  font-size: $font-size-3xl;
  @include mobile {
    font-size: $font-size-2xl;
  }
}

h3 {
  font-size: $font-size-2xl;
  @include mobile {
    font-size: $font-size-xl;
  }
}

h4 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $spacing-md;
}

a {
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  margin-left: $spacing-lg;
  margin-bottom: $spacing-md;
}

code {
  font-family: $font-mono;
  font-size: 0.9em;
  background-color: $surface-light;
  padding: 0.2em 0.4em;
  border-radius: $border-radius-sm;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  
  @include mobile {
    padding: 0 $spacing-md;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
