@import '../../styles/variables';

.label {
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $text-primary;
  margin-bottom: $spacing-xs;
}

.input {
  display: block;
  width: 100%;
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $text-primary;
  background-color: $background-light;
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  
  &::placeholder {
    color: $text-secondary;
    opacity: 0.7;
  }
  
  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
  }
  
  &:disabled {
    background-color: $surface-light;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  &.error {
    border-color: $error-color;
    
    &:focus {
      box-shadow: 0 0 0 3px rgba($error-color, 0.1);
    }
  }
}

.fullWidth {
  width: 100%;
}

.errorMessage {
  display: block;
  margin-top: $spacing-xs;
  font-size: $font-size-sm;
  color: $error-color;
}
